.modal-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(23,50,77,0.5);
}

.modal-lightbox.full-page {
	position: fixed;
	display: fiex;
	align-items: center;
	justify-content: center;
	z-index: 1000001;
}

.modal {
	width: 90%;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	border-radius: .25rem;
	background-color: white;
	margin: auto;
}

.modal-body {
	background-color: white;
	width: 600px;
	margin: 10px auto;
}