body {
	background-color: white;
}

.photo-viewer {
	text-align: center;
}

.photo-list {
	display: flex;
	flex-flow: row wrap;
}

.photo-thumbnail {
	padding: 10px;
	margin-top: 10px;
}

.photo-nav a {
	margin: 5px;
}